.home{
    padding: 0px !important;
}

.home .upper-fold{
    height: 100vh !important;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/51db73e6-10b5-4eda-aa09-12db6c8c3559/d7sh392-534bbea6-f420-4643-a88c-8d47e8015cf6.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTFkYjczZTYtMTBiNS00ZWRhLWFhMDktMTJkYjZjOGMzNTU5XC9kN3NoMzkyLTUzNGJiZWE2LWY0MjAtNDY0My1hODhjLThkNDdlODAxNWNmNi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.tWCbkdVhqAaDqG7DTlKQkSdnjDBsSnBM62cLfPyekcU');
    background-size: cover;
}